# Design
GEMINI.md
cp_ref.md

# Build
cpc/target/
cpc/**/*.rs.bk
cap/**/*.zig.bk
cap/*.cp.zig
cap/.con-build/ 
#zig-out/
.zig-cache/
bin/
build/
dist/
obj/
_ref/
*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a
*.exe
*.out
*.app

# Backup
**/*.bk
**/*.backup
**/*.orig
*~

# CP Lang
cap/.con-build/
cap/**/*.cp.zig
cap/**/*.beam      # Erlang 字节码（如果有）
.cap/
cap_modules/

# cap Node.js/Bun
node_modules/
bun.lockb          # 如果使用 bun

# IDE
.vscode/
.idea/
*.swp
*.swo

# evn
.env
.env.local